*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins','Arial','monospace';
}
body{
  background-color: #1d1d1d;
  display: grid;
  place-content: center;
  height: 100vh;
}
body .todo-list h1{
  color: white;
  text-align: center;
}
body form input, button{
  padding: .5em;
  border-radius: 5px;
  margin:.5em;
}
body form button{
  cursor: pointer;
}
body button, input{
  outline:none;
  border:none;
  font-size: 1em;
}
body button{
  cursor: pointer;
}
body button:focus, input:focus{
  outline:3px solid #c4c000;
}
body ul{
  list-style-type: none;
  background-color: #444444;
  border-radius: 5px;
  padding: .5em;
  min-height: 5em;
}
body ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body ul li div{
  color:white;
}
body ul li div input{
  margin-right: .5em;
}